// @import "reset.styl";
.el-date-table td {
  width: 50px;
}
.el-picker-panel th,
.el-picker-panel td,
.el-picker-panel tr {
  border: none;
}
.el-picker-panel tr:nth-child(2n) {
  background-color: unset;
}